<body bgcolor="white">
    <table align="center" border="0">
        <tr>
            <td width="100" bgcolor="orange"> <b></b><a href="/admin_body/" target="admin_body"> </b>Course </a> </td>
            <td width="100" bgcolor="orange"> <b></b><a href="/add_faculty/" target="admin_body"> Faculty </a> </td>
            <td width="100" bgcolor="orange"> <b></b><a href="/add_student/" target="admin_body"> Student </a> </td>
            <td width="100" bgcolor="white"> <b></b><a href="/view_company/" target="admin_body"> Company </a> </td>
            <td width="100" bgcolor="green"> Reports </td>
            <td width="100" bgcolor="green"> Notice Board </td>
             <td width="100" bgcolor="green"><a href="/admin_logout/"target="body">&nbsp;&nbsp;LogOut</a></td>
        </tr>

    </table>
</body>