<body>
<table align="center" border="1">
     <tr>
        <td>Language </td>
        <td>Duration </td>
        <td>Fees </td>
    </tr>

    <tr>
        <td>C - Language </td>
        <td>45(days) </td>
        <td>Fee-499 </td>
    </tr>
     <tr>
        <td>C++ - Language </td>
        <td>50(days) </td>
        <td>Fee-499 </td>
    </tr>
     <tr>
        <td>Core-Java - Language </td>
        <td>90(days) </td>
        <td>Fee-1499 </td>
    </tr>
     <tr>
        <td>Advance-Java - Language </td>
        <td>45(days) </td>
        <td>Fee-999 </td>
    </tr>
     <tr>
        <td>dot(.)net- Language </td>
        <td>90(days) </td>
        <td>Fee-2499 </td>
    </tr>
     <tr>
        <td>core-Python - Language </td>
        <td>45(days) </td>
        <td>Free </td>
    </tr>
     <tr>
        <td>Advance-Python - Language </td>
        <td>60(days) </td>
        <td>Fee-2999 </td>
    </tr>
     <tr>
        <td>Devops  </td>
        <td>90(days) </td>
        <td>Fee-9999 </td>
    </tr>
     <tr>
        <td>Digtial Marketing  </td>
        <td>45(days) </td>
        <td>Fee-1499 </td>
    </tr>
     <tr>
        <td>AWS </td>
        <td>60(days) </td>
        <td>Fee-3499 </td>
    </tr>
</table>
</body>