<body>
<table align="center" border="0" bgcolor="white">
    <tr>
        <td><a href="/body/" target="body"> Home</a></td>
        <td><a href="/admin_login/" target="body"> AdminLogin</a></td>

        <td><a href="/course/" target="body"> &nbsp;&nbsp;Course's</a></td>
        <td><a href="/student_login/" target="body"> &nbsp;&nbsp;Student</a></td>
        <td><a href="/faculty_login/" target="body"> &nbsp;&nbsp;&nbsp;Faculty</a></td>
        <td><a href="/company_register/" target="body"> &nbsp;&nbsp;&nbsp;Company</a></td>
        <td><a href="/aboutus/"  target="body">&nbsp;&nbsp;About Us</a></td>
        <td><a href="/contacts/" target="body">&nbsp;&nbsp;Contacts</a></td>
    </tr>
</table>
</body>