<body>

<table align="center" border="0">
    <h1 style="color: coral" align="center">
        Admin Home
    </h1>
    <tr>
        <td>
            <h3>*<a href="/employee/"> Employee</a>
        </h3></td>
    </tr>
    <tr>
        <td>
           <h3>*<a href="/product/">Product</a>
        </h3></td>
    </tr>
    <tr>
        <td>
           <h3>*<a href="/customer/">Customers</a>
        </h3></td>
    </tr>
    <tr>
        <td>
           <h3>*<a href="/sales/">Sales</a>
        </h3></td>
    </tr>
</table>
<table>
    <tr>
        <td>
            {{ data }}
        </td>
    </tr>
</table>
</body>